body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: linear-gradient(120deg, #e8f0fa, #84a1c4, #607b9b);
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    padding: 20px;
}

header {
    padding-right: 120px;
    padding-top: 15px;
}

.btn {
    background: linear-gradient(120deg, #a4bcd9fb, #749ed2);

    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 10px 25px; /* Increased padding for a larger button */
    font-size: 20px; /* Increased text size for better readability */
    border-radius: 5px; /* Added border-radius for rounded corners */
    position: absolute; /* Changed to absolute positioning */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.btn:hover {
    background: linear-gradient(120deg, #84a1c4,#a4bcd9fb);
    box-shadow:0 5px 15px rgba(0,0,0,.3);
    color: #fff;
    transform: translateY(-2px);
}

.container-fluid {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    color: rgb(8, 11, 38);
    font-weight: bold; /* Increased font size for headings */
}

.row {
    margin-bottom: 30px;
}

.category-card {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Increased width for cards */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly more transparent blackish background */
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 25px auto;
    cursor: pointer;
    height: 160px; /* Increased height for cards */
    animation: fadeIn 1s ease-in-out;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.category-card .card-body {
    position: absolute;
    display: flex;
    justify-content: center; /* Horizontally centers the text */
    align-items: center; /* Vertically centers the text */
    height: 100%; /* Take full height of the card */
    width: 100%;
    padding: 0px; 
    text-align: center;
    z-index: 2;
}

.category-card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(5, 57, 97); 
    opacity: 0; 
    transition: opacity 0.25s ease-in-out;
    z-index: 1;
}

.category-card:hover::after {
    opacity: 1; 
}

.category-card .card-title {
    font-size: 20px; /* Increased font size for card titles */
    margin: 0;
    color: #ebedf1fb;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    transition: transform 0.25s ease-in-out; /* Added transition for smooth movement */
}

.category-card:hover .card-title {
    transform: translateY(-25px); /* Move text up slightly when hovered */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
